@use "vars" as *;
// @extend %btn-shared;
%btn-shared {
	padding: 10px 20px;
}
// @extend %gradiend-bg;
%gradiend-bg {
	background: linear-gradient(90deg, $accent-color-primary 0%,  $accent-color-secondary 100%) ;	
}
%screen-width-max {
    max-width: 100vw;
    overflow-x: hidden;
}

// @extend %limit-lines-2;
%limit-lines-2 {
	-webkit-line-clamp: 2;
	line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

