@use "include" as *;

html {
	font-size: $font-size-html;
}

body {
	font-family: $font-family-global;
	font-style: normal;
	font-size: $font-size-global;
	line-height: $line-height-global;
	font-weight: 300;
	color: $font-color-primary;
	background-color: $background-color-global;
	//transition: color 1s ease-in-out, background 1s ease-in-out;
	@extend %screen-width-max;
}

.container {
	width: $container-width;
	max-width: calc($container-width-max + $container-padding * 2);
	margin: 0 auto;
	padding-left: $container-padding;
	padding-right: $container-padding;
}

a {
	color: $links-color-primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: 0px solid $accent-color-primary;
		&:not(.nav-menu__link):not(.btn) {
			outline-width: 2px;
			outline-offset: 3px;
			border-radius: 10px;
		}
	}
}

p {
	letter-spacing: normal;
}

ul li,
ol li {
	line-height: 1em;
}

ol {
	list-style: decimal;
	list-style-position: outside;
	margin-left: 25px;
	& li {
		padding-block: 5px;
	}
}

.input {
	border: 0px solid #ccc;
	background: #fff;
	padding: 15px 10px;
	border-radius: 0px;
	width: 100%;
	&:focus {
		outline: 2px solid #aaa;
	}
}

.row {
	&__label {

	}
}


.btn {
	@include font-basic(1.4rem, 1.6rem, 500, $buttons-color-primary);
	text-transform: uppercase;
	text-wrap: nowrap;
	min-width: 190px;
	max-width: 100%;
	display: inline-block;
	padding: 16px 30px;
	border: 1px solid $buttons-border-color-primary;
	border-radius: 0;
	background-color: $buttons-background-color-primary;
	transition: transform 0.0s;
	opacity: 1;
	&--centered {
		display: block;
		margin: 30px auto;
	}
	&:disabled {
		opacity:0.5;
		transition: opacity 0.5s;
		background-color: #ccc;
	}
	&:hover {
		color: $buttons-color-secondary;
		background-color: $buttons-background-color-secondary;
		text-decoration: none;
	}

	&:focus {
		//color: #4f0d04;
		//transform: scale(110%) translateY(-5px);
		//transform: rotate(360deg);
		//transition: transform 0.3s;
		//outline: 2px solid rgb(223, 200, 0);
		
	}

}

.heading {
	font-family: $font-family-headings;
	font-weight: 700;
	color: $font-color-heading;
	letter-spacing: normal;
	text-transform: uppercase;
	& a {
		color: $accent-color-primary;
		&:hover {
			color: $buttons-color-secondary;
			text-decoration: none;
		}
	}
	&-1 {
		font-size: 8.0rem;
		line-height: 9.8rem;
		margin-bottom: 20px;
		letter-spacing: 0.1em;
	}
	&-2 {
		font-size: 4.4rem;
		line-height: 5.4rem;
		margin-bottom: 90px;
		padding-top: 31px;
		position: relative;
		text-align: center;
		&::before {
			content: "";
			width: 100px;
			height: 1px;
			background-color: $dark-color-primary;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&-3 {
		font-size: 4.4rem;
		line-height: 5.4rem;
		margin-bottom: 20px;
		& small {
			font-size: 2.2rem;
			line-height: 2.7rem;
			font-weight: 500;
			display: block;
		}
	}
}

.logo-block {
    &__link {
		display: inline-block;
    }
    &__img {
		min-width: 241px;

    }
}

.nav-menu {
	@include flex-ext(flex-end, center, row, 70px, null);
	margin-right: 85px;
    &__item {
    }
    &__link {
		font-family: "Source Sans 3", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-size: 1.4rem;
		color: $light-color-primary;
		text-decoration: none;
		padding-left: 23px;
		display: block;
		position: relative;
		text-transform: uppercase;
		
		&::before {
			content: "";
			border: 1px solid $light-color-primary;
			left:0;
			position: absolute;
			top: 0.55em;
    		transform: translateY(-50%);
			width: 9px;
			height: 9px;
			border-radius: 50%;
		}
		&:hover {
			text-decoration: none;
			&::before {
				background-color: $light-color-primary;
			}
		}
    }
}

.top-header {
	position: absolute;
	width:100%;
	top: 54px;
	min-height: 55px;
	z-index: 1;
	&__container {
	@include flex-ext(space-between, center, row, 25px);
	padding: 0px 0;
	}
    &__block {

    }
    &__nav {
		margin-left: auto;

    }
    &__socials {

    }
}

.main-content {
	&__section {
		&.hero-section {
			margin-bottom: 100px;
			@extend %gradiend-bg;
			//padding: 330px 0 329px;
			text-align: center;
			& .heading,
			& p {
				color: $light-color-primary ;
				text-transform: uppercase;
				letter-spacing: 0.1em;
			}
			& p {
				letter-spacing: 0.39em;
				line-height: 2.2rem;
			}
		}
	}
}

.content-section {
	margin-bottom: 150px;
    &__container {
    }
	&__article {
		margin-bottom: 120px;
		&:last-of-type {
			margin-bottom: 150px;
		}
	}

}

.content-article {
	@include flex-ext(center, flex-end, row, 70px, nowrap);
	padding-top: 57px;
    &__col {
		&.img-col {
			width: 100%;
			max-width: 630px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width:94%;
				height: 100%;
				left:0;
				top:0px;
				background-color: $accent-color-primary;
				z-index: -1;
				transform: translate(-215px, -53px);
				opacity:1;
				transition: transform 1s, opacity 1s, width 1s, height 1s;
			}
			& img {
				width:100%;
				display: block;

			}
		}
		&.pushed {
			&::after {
				transform: translate(0px, 0px)!important;	
				opacity: 0.5;	
				width: 100%;	
			}
		}
		&.out {
			&::after {
				transform: translate(0px, 0px)!important;	
				opacity: 0.1;	
				width: 1%;	
				height: 1%;
			}
		}
		&.content-col {
			width: 100%;
			max-width: 475px;
			& p {
				letter-spacing: 0.015em;
				&:has(~ .btn) {
					margin-bottom: 30px;
				}
				&:last-of-type {
					margin-bottom: 20px;
				}
			}
			& .btn {
				margin-bottom: 55px;
			}
			& .description {
				font-style: italic;
				font-size: 1.5rem;
				line-height: 2rem;
				color: $dark-color-secondary;
				& span {
				margin-right: 10px;
				color: $dark-color-primary;
				font-size: 1.5rem;
				transform: scaleX(0.9)
				}
			}
		}
    }
	&.article--reversed {
		flex-direction: row-reverse;

			& .img-col {
				&::after {
					content: "";
					background-color: $accent-color-secondary;
					transform: translate(215px, -53px);
				}
			}

	}
}

.news-section {
	background: linear-gradient(-45deg, #24CCFA 0%,  #3C7FD4 100%) ;	
	position: relative;
	padding: 120px 0;
	& .heading-2 {
		color: $light-color-primary;
		&::before {
			background-color: $light-color-primary;
		}
	}
	&::before {
		content: "";
		position: absolute;
		width:100%;
		height: 100%;
		background: url(../assets/img/news-bg@1x.webp) no-repeat 100% 50% /cover;
	}
}

.bottom-footer {
	@extend %gradiend-bg;
	min-height: 550px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width:100%;
		height: 100%;
		background: url(../assets/img/footer-bg@1x.webp) no-repeat 100% 50% /cover;
	}
    &__container {
		@include flex-ext(space-between, center, row, 25px);
		padding: 200px 0 230px;
    }
    &__block {
    }
    &__socials {
    }
}

.visually-hidden {
	@include v-hid;
}

.social-media {
	@include flex-ext(center, center, row, 20px, nowrap);
    &__item {
    }
    &__link {
		color: $light-color-primary;
		display: inline-block;
		width:40px;
		height: 40px;
		border: 1px solid $light-color-primary--transparent-40;
		border-radius: 50%;
		position: relative;
		& span {
			@include avh-c;
			font-size: 16px;
		}
		&:hover {
			border-color: $light-color-primary; 
		}
    }
}



.slider-slide {
	padding: 330px 0 329px;
	position: relative;
		&::before {
			opacity: 0.1;
			@include avh-c;
			content: "";
			position: absolute;
			width:100%;
			height: 100%;
			background: url(../assets/img/slider/slider1@1x.webp) no-repeat 100% 50% /cover;
	}
}
.slide {
	&-1 {
		&::before {
			background-image: url(../assets/img/slider/slider1@1x.webp);
		}		
	}
	&-2 {
		&::before {
			background-image: url(../assets/img/slider/slider2@1x.webp);
		}
	}
	&-3 {
		&::before {
			background-image: url(../assets/img/slider/slider3@1x.webp);
		}
	}
	&-4 {
		&::before {
			background-image: url(../assets/img/slider/slider4@1x.webp);
		}
	}
	&-5 {
		&::before {
			background-image: url(../assets/img/slider/slider5@1x.webp);
		}
	}

}

// ------------------------- Slick Slider Default Classes ---------------------

.slick-dots {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    right: 33px;
    transform: translateY(-50%);

    li {
        &.slick-active {
            button {
                background-color: antiquewhite;
            }
        }
    }

    button {
        font-size: 0;
        background: #39575196;
        border: 1px solid #ffddff;
        width: 10px;
        height: 10px;
        padding: 0;
        border-radius: 50%;
        box-shadow: 0 0 6px 0px #4e6a6c;
        cursor: pointer;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 0;
    border: none;
    background: #525c5d;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &::before {
        content: "<";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #fff;
    }
}

.slick-prev {
    left: 30px;
}

.slick-next {
    left: none;
    right: 30px;
    &::before {
        content: ">";
    }
}