@use "include" as *;

//Resolutions below starting from 991.99px ($lg-min)
@media screen and (max-width: $lg-min) {
	.container {
		max-width: 100%;
	}

.heading {
	&-1 {
		font-size: 4.4rem;
	}
	&-2 {
		font-size: 3.8rem;
		line-height: 1.2em;
		margin-bottom: 50px;
	}
	&-3 {
		font-size: 3.2rem;
		line-height: 1.2em;
		margin-bottom: 15px;
		& small {
			font-size: 2.0rem;
			line-height: 1.2em;;
		}
	}
}

.content-section {
	margin-bottom: 60px;
	&__article {
		margin-bottom: 90px;
		&:last-of-type {
			margin-bottom: 90px;
		}
	}
}

.main-content {
	&__section {
		&.hero-section {
			margin-bottom: 60px;
			min-height: auto;
		}
	}
}

.hero-slider {
	& .slider-slide {
		min-height: 500px;
	}
}















.content-article {
	column-gap: 50px;
	align-items: center;
	margin-bottom: 60px;
    &__col {
		&.anim-right {
			&::after {
				transform: translate(15%, -10%) rotateZ(720deg);
				width: 100%;	
			}
		}
		&.anim-left {
			&::after {
				transform: translate(-15%, -10%);
				width: 100%;	
			}
		}
		&.content-col {
			& p {
				letter-spacing: 0;
			}
			& .description {
				font-size: 1.8rem;
				& span {
				font-size: 2.5rem;
				}
			}
		}
    }

}












.news-article {
	&__title {
		font-size: 2.0rem;
		line-height: 2.4rem;
		margin-bottom: 10px;
	}
	&__content {
		margin-bottom: 20px;
	}
}

	.contact-section {
		margin-bottom: 0;
		&__block {
			max-width: 90%;
		}
	}

}

//Resolutions from ($md) 768px to 991.99px ($lg-min)
@media screen and (min-width: $md) and (max-width: $lg-min) {

}

//Resolutions below starting from 767.99px ($md-min)
@media screen and (max-width: $md-min) {

}
